body{
	background-color: darkgrey;
}
main{
	margin: 1%;
	height: 100%;
	/*overflow-y: auto;*/
	margin-bottom: 15%
}

.container{
	height:100%;
}

.profilepic{
	max-width: 25%;
	max-height: 25%;
	margin: 1%;
	float: left;
}
.material{
	background-color: white;
}

.footer{
/*	position: absolute;
	bottom: 0;*/
	width: 100%;
	height: 10%;
	background-color: #f5f5f5;
}

.game{
	max-width: 100%;
	max-height: 100%;
	margin: 1%;
	align-content: center;
}

.placement{
	text-align: center;
	max-height: 20%;
	background-color: rgba(100,149,237,.7);
	color: white;
}

.btn{
	margin: 1%;
	font-size: 100%;
}

.static-img{

}

#static-base{
	position: absolute;
	top: 0%;
	left: 0%;
	padding-left: 15px;
	padding-right: 15px;
}

#static-1{
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.0;
	padding-left: 15px;
	padding-right: 15px;
}

#static-2{
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.0;
	padding-left: 15px;
	padding-right: 15px;
}

#static-3{
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.0;
	padding-left: 15px;
	padding-right: 15px;
}

#static-4{
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.0;
	padding-left: 15px;
	padding-right: 15px;
}

#static-5{
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.0;
	padding-left: 15px;
	padding-right: 15px;
}

#static-6{
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0.0;
	padding-left: 15px;
	padding-right: 15px;
}

.input{
	margin: 15px;
}

.hm-submit{
	display: block;
	text-align: center;
	margin: auto;
}
/*input{
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
}*/